---
---

@import "mixins";

$base-color: #333;

$base-font-size:         16;
$proxima-nova:           proxima-nova, "HelveticaNeue", "Helvetica Neue", helvetica, arial, sans-serif;
$proxima-nova-condensed: proxima-nova-condensed, "Arial Narrow", "Helvetica Neue", Helvetica, Arial, sans-serif;
$ff-tisa:                "ff-tisa-web-pro", Georgia, sans-serif;


@mixin font-size($font-size) {
  font-size: $font-size + px;
  font-size: ($font-size / $base-font-size) + rem;
}

/* i.RESET
---------------------------------------------------------------------- */
// http://meyerweb.com/eric/tools/css/reset/ - v2.0 | 20110126 - License: none (public domain)

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { border:0; font:inherit; font-size:100%; margin:0; padding:0; vertical-align:baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display:block; }
body { line-height:1; }
ol, ul { list-style:none; }
blockquote, q { quotes:none; }
// blockquote:before, blockquote:after, q:before, q:after { content:''; content:none; }
table { border-collapse:collapse; border-spacing:0; }

// make new blocky elements blocky
article, aside, dialog, figure, footer, header, hgroup, nav, section { display : block; }

/* global
---------------------------------------------------------------------- */

body{
    color:$base-color;
    font: 400 100%/1.5 #{$ff-tisa};
    background:#f8f8f8;
    /* I like to line stuff up sometimes */
    // background: url(../grid.png) repeat-y 42px 0;
    // background:url(../images/large-monitor.png) no-repeat 1500px 360px;
}

*, *:before, *:after {
    @include box-sizing();
}

/* headings
---------------------------------------------------------------------- */

h1,h2,h3,h4,h5,h6 { font-family: #{$proxima-nova}; }

h1 {
    font-size:36px;
    font-size:(36rem / $base-font-size);
    font-weight:700;
    line-height:(36 / 36);
    margin-bottom:24px;
}

h1,h2{
    a { text-decoration:none; }
}

.article-list h2 {
    font-weight:700;
}

h2 {
    font-size:21px;
    font-size:(21rem / $base-font-size);
    margin-top:32px;
}

.filed {
    border-top:1px solid #ccc;
    color:#999;
    font-family:#{$proxima-nova};
    font-size:11px;
    font-size:(11rem / $base-font-size);
    font-weight:700;
    letter-spacing:1px;
    margin-top:48px;
    padding-top:12px;
    text-transform:uppercase;
}

em {
    font-style:italic;
}


/* typography
---------------------------------------------------------------------- */

p {
    @include font-size(21);
    line-height:1.5;
}

p + p, .note + p { text-indent:1.5em; }

.journal p, .blockquote p {
    @include hyphens;
}

a { color:#000; }
a:hover { background:#000; color:#fff; }

ul li { list-style:disc; }

.tags li {
    float:left;
    font-family:#{$proxima-nova};
    font-size:11px;
    font-size:.6875rem; /*  11 / 16  */
    list-style:none;
    margin-right:7px;
}

.tags a { padding:0 2px; text-decoration:none; }
.tags a:hover { background:#000; color:#fff; }

time {
    font-family:#{$proxima-nova-condensed};
    font-size:18px;
    font-size:(18rem / $base-font-size); /*  18 / 16  */
    font-weight:200;
    color:#666;
    display:block;
    letter-spacing:1px;
}

cite { font-style:italic; }

.note {
    @include box-sizing;
    margin-bottom:12px;
    margin-top:12px;
    padding:12px;
}

.note p {
    color:#999;
    font-family:#{$proxima-nova};
    font-size:14px;
    font-size:.875rem; /*  14 / 16  */
}

header[role="banner"] p, footer[role="contentinfo"] p {
    font-family: #{$proxima-nova};
    font-size:18px;
    font-size:1.125rem; /*  18 / 16  */
    margin:32px 0;
}

footer[role="contentinfo"] a { color:#fff; }
footer[role="contentinfo"] a:hover { background:#fff; color:#000; }

.quote .source a {
    font-family:#{$proxima-nova};
    font-size:18px;
    font-size:1.125rem; /*  18 / 16  */
    text-decoration:none;
    white-space:nowrap;
}

header[role="banner"], #main, footer[role="contentinfo"] {
    clear:both;
    @extend %cf;
}
.wrapper {
	width:100%;
}

/* layout
---------------------------------------------------------------------- */

div[role="main"] {
	background-color:#fff;
	// padding:24px;
	position:relative;
	z-index:2;
}

article {
	@extend %cf;
	padding: 24px 0;
}


.meta { margin-bottom:4px; }

img { max-width:100%; }

.js article.active {
	color:#000;
	a {
		color:#000;
		&:hover {
			background:#000;
			color:#fff;
		}
	}
	time {
		color: #333;
	}
}


/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */

code[class*="language-"],
pre[class*="language-"] {
    color: black;
    text-shadow: 0 1px white;
    font-family: Consolas, Monaco, 'Andale Mono', monospace;
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;

    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;

    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

@media print {
    code[class*="language-"],
    pre[class*="language-"] {
        text-shadow: none;
    }
}

/* Code blocks */
pre[class*="language-"] {
    padding: 1em;
    margin: .5em 0;
    overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
    background: #f5f2f0;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
    padding: .1em;
    border-radius: .3em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: slategray;
}

.token.punctuation {
    color: #999;
}

.namespace {
    opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number {
    color: #905;
}

.token.selector,
.token.attr-name,
.token.string {
    color: #690;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
    color: #a67f59;
    background: hsla(0,0%,100%,.5);
}

.token.atrule,
.token.attr-value,
.token.keyword {
    color: #07a;
}


.token.regex,
.token.important {
    color: #e90;
}

.token.important {
    font-weight: bold;
}

.token.entity {
    cursor: help;
}
