		</div><!--/ role=main -->
		<div class="wrap">
			<footer role="contentinfo" class="group">
				<p>Contact me <a href="http://twitter.com/nerdpruitt">@nerdpruitt</a>. You know&hellip;cause I&rsquo;m a nerd&hellip;<br>And my last name is Pruitt&hellip;<br>And nerd is kinda like Nick, what with the four letters and the n&hellip;<br>I gotta go&hellip;</p>
			</footer>
		</div>
		<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
		<script src="/js/libs/waypoints.min.js"></script>
		<script src="/js/libs/prism.min.js"></script>
		<script src="/js/scripty.js"></script>
	</body>
</html>
