<!DOCTYPE html>
<!--[if IE 7 ]><html lang="en" class="ie7" id="nickpruitt-com"><![endif]-->
<!--[if IE 8 ]><html lang="en" class="ie8" id="nickpruitt-com"><![endif]-->
<!--[if IE 9 ]><html lang="en" class="ie9" id="nickpruitt-com"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en" id="nickpruitt-com"><!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

		<title>{{ page.title }}</title>

		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">

  		<link href="gridset.css" rel="stylesheet" />
  		<link rel="stylesheet" href="chesterton.css">

  		<script type="text/javascript" src="//use.typekit.net/axt3dqq.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	</head>
	<body>
		<div class="wrapper">
